.legend {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: absolute;
}
.CVentry::after {
  display: none;
  content: attr(data-title);
  position: absolute;
  z-index: 2;
  padding: 0em;
  border-radius: 1em;
  left: 0%;
  top: 1em;
  width: 100%;
}
.CVentry:hover::after {
  display: unset;
}
.CVentry[data-category="work"],
.CVentry[data-category="work"]::after {
  background-color: #54ab71;
}
.CVentry[data-category="education"],
.CVentry[data-category="education"]::after {
  background-color: #466ba3;
}
.CVentry {
  background-color: #95a65f;
  height: 4em;
  border-radius: 1em;
  margin: 0;
  position: absolute;
  text-align: center;
  padding-top: auto;
}
#main > div > a {
  text-align: center;
  text-wrap: nowrap;
}
